.order-list-container{
	width: 996px;
}
.order-list-header{
	background-color: #f8fafc;
	padding: 12px 20px;
	margin-bottom: 16px;
}
.order-list-header-text{
	color: #444950 !important;
	font-weight: 700 !important;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	display: inline-block;
	font-weight: 400;
}
.order-list-header-base_info{
	margin-left: 142px;
	width: 192px;
	margin-right: 46px;
}
.order-list-header-price{
	margin-right: 46px;
	width: 69px;
}
.order-list-header-num{
	margin-right: 46px;
	width: 61px;
}
.order-list-header-payment{
	margin-right: 46px;
	width: 133px;
}
.order-list-header-status{
	margin-right: 46px;
	width: 175px;
}
.order-list-header-action{
	
}
.order-list-card{
	width: 996px;
	margin: 10px auto;
	border: 1px solid #e0e5ea;
}
.order-list-card-header{
	background-color: #f8fafc;
	padding: 12px 20px;
	display: flex;
	justify-content: space-between;
}
.order-list-card-header-time{
	margin-right: 12px;
}
.order-list-card-header-id{
	font-weight: 400 !important;
}

.order-list-card-content{
	display: flex;
	padding: 20px 0;
	padding-left: 20px;
}
.order-list-card-content-distance{
	margin-right: 50px;
}
.order-list-card-content-preview{
	width: 112px;
	height: 112px;
	margin-right: 28px;
}
.order-list-card-content-base_info{
	width: 192px;
}
.order-list-card-content-price{
	width: 69px;
}
.order-list-card-content-num{
	width: 61px;
}
.order-list-card-content-payment{
	width: 133px;
}
.order-list-card-content-status{
	width: 175px;
}
.order-list-card-content-action{
	width: 85px;
	display: flex;
	flex-direction: column;
}
.order-content-footer{
	width: 996px;
	display: flex;
	padding-left: 20px;
	align-items: center;
	margin-bottom: 20px;
}
.order-content-footer-payment{
	font-weight: 700;
}
.order-content-footer-submit{
	margin-left: auto;
}

.address-container{
	display: flex;
	flex-wrap: wrap;
	padding: 0 40px 0;
}
.address-box{
	border-radius: 4px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.address-box input{
	margin-bottom: 10px;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	padding: 4px 10px;
	background: #f7f7f7;
}